* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}


:root {
  /* Primary Colors */
  --bg-color: #FFFFFE; /* Background */
  --primary-btn: #007BFF; /* Primary button */
  --text-color: #35333c; /* Text color */

  /* Secondary Colors */
  --secondary-btn: #6C757D; /* Secondary button */

  /* Accent Colors */
  --alert-color: #DC3545; /* Error color */
  --success-color: #28A745; /* Success color */

  /* Text Highlighting */
  --highlight-color: #FF6347; /* Highlighted text */
}