.todo-item {
    padding: 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    border-radius: 6px;
}

.todo-item.done {
    background-color: #eee;
}

@media (max-width: 768px) {
    .todo-item {
        padding: 8px 10px;
    }    
}

.todo-item__left-section {
    display: flex;
    align-items: center;
    gap: 12px
}

.todo-item__checkbox-btn {
    font-size: 1.3rem;

}

.todo-item__checkbox-btn,
.todo-item__menu-btn {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    padding: 5px;
}


.todo-item__title {
    text-align: left;
}

.checkbox-outline {
    color: var(--secondary-btn);
}

.todo-item__buttons-container {
    display: flex;
    align-items: center;
    gap:  20px
}

.todo-item__buttons-container button {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    color: #aaaaaa
}

.todo-item__edit-btn:hover {
    color: #000;
}

.todo-item__delete-btn:hover {
    color: var(--highlight-color);
}