.todo-app__wrapper {
    width: 100vw;
    min-height: 100vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

.todo-app {
    width: 100%;
    max-width: 900px;
    background-color: aliceblue;
    min-height: 100vh;
    padding: 30px 20px;
}

.todo-app__title {
    font-size: 2rem;
    color: black;
}